<!-- <div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10 text-center">Restricted component at /restricted/</div>
	</div>
<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10 text-center">
		<a [routerLink]="['/unrestricted']">Access unrestricted content</a>
	</div>
	<div class="col-xs-10 text-center">
		<a (click)="logout()"> Logout </a>
	</div>
</div> -->

<app-header class="inline fullwidth"></app-header>
<app-content class="almostfull inline fullwidth"></app-content>
<app-footer class="inline fullwidth footer"></app-footer>
